* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif !important;
  font-weight: 300;
  background: #fafafa;

  .MuiDialogActions-root {
    border-top: 1px solid #d9d9d9;
    padding: 16px 24px;
  }

  .MuiDialogTitle-root {
    border-bottom: 1px solid #d9d9d9;
  }

  .css-mu0rxf-MuiTypography-root {
    color: grey;
  }

  .css-cveggr-MuiListItemIcon-root {
    min-width: 45px;
  }
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    padding: 0;
  }
}

div {
  position: relative;
}

.app {
  width: 100vw;
  height: 100vh;
}
