@import "./variables.scss";
@import "./MUI.overrides.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif !important;
  font-weight: 300;
  background: $color-body;
  min-height: 100vh;
}

div {
  position: relative;
}
