@import "../../styles/global/variables.scss";

body {
  .MuiDialogActions-root {
    border-top: 1px solid $color-dialog-border;
    padding: 16px 24px;
  }

  .MuiDialogTitle-root {
    border-bottom: 1px solid $color-dialog-border;
  }

  .MuiInputLabel-shrink {
    padding: 0 10px;
    left: -7px;
  }

  .MuiInputLabel-asterisk {
    font-size: 26px;
    line-height: 18px;
  }

  .css-jkifsk-MuiTabs-indicator {
    height: 4px;
    background: $color-primary-pink;
  }

  ._switchPopup_1y9ve_1 {
    margin-top: 20px;
    margin-right: 10px;
  }
}
