/* Colors */
$color-primary-dark: #212121;
$color-primary-pink: pink;
$color-white: #ffffff;
$color-pink-dark: #cb9da5;
$color-body: #eeeeee;
$color-dialog-border: #d9d9d9;
$color-navbar-bg: #1f2937b3;

/* Sizes */
$header-height: 64px;
$map-height: calc(100vh - $header-height);
