/* Colors */
$color-primary-dark: #212121;
$color-white: #ffffff;
$color-pink: #c880d5;
$color-pink2: #ffa3f6;
$color-sidebarlink: #00458b;
$color-body: #eeeeee;
$color-dialog-border: #d9d9d9;

/* Sizes */
$header-height: 64px;
$map-height: calc(100vh - $header-height);
