@import "../styles/global/variables.scss";

.bio {
  white-space: pre-wrap;
}
.tags {
  margin-bottom: 20px;
}
.name {
  color: $color-primary-dark;
  align-self: center;
}
.tag {
  margin-right: 10px;
  font-weight: 500;

  :global(.MuiChip-label) {
    &::first-letter {
      margin-right: 4px;
    }
  }
}
