.moduleBucketList {
  .orderedList {
    list-style: none;
    counter-reset: my-awesome-counter;
  }

  .listItem {
    counter-increment: my-awesome-counter;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
      0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    border-radius: 15px;
    background: #fff;
    margin-bottom: 15px;
    padding-left: 65px;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;

    &::before {
      content: counter(my-awesome-counter);
      color: #1f2937;
      font-weight: bold;
      position: absolute;
      z-index: 2;
      font-size: 16px;
      left: 21px;
      top: 11px;
    }

    &::after {
      content: "";
      background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
      border-radius: 10px 10px 0 10px;
      left: 5px;
      top: 5px;
      width: 40px;
      height: 30px;
      overflow: hidden;
      position: absolute;
    }

    .flag {
      display: inline-block;
      font-size: 24px;
      margin-right: 12px;
    }
  }
}
