.countryActionsBar {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;

  .mapActions {
    display: flex;
    gap: 10px;
  }
}
