.moduleCountryDetailsOverlay {
  .listItem {
    border-bottom: 1px solid #ebebeb;
    :global(.MuiListItemText-root) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      span {
        flex: 1;

        &:last-child {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-align: right;
        }
      }
    }
  }

  .coatOfArms {
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 35px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 15px;
  }

  .headerEmoji {
    display: inline-block;
    margin-right: 20px;
  }

  .link {
    color: grey;
    display: inline-flex;
    gap: 6px;
  }
}
