.countrySearch {
  :global {
    .MuiFormLabel-root {
      color: #434343;
    }

    .MuiInputBase-root {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.badgeCustom {
  border-radius: 15px;
  background: #4b4b4b;
  min-width: 24px;
  color: #ffd3db;
  display: inline-flex;
  justify-content: center;
  height: 21px;
  font-weight: bold;
  position: relative;
  line-height: 19px;
  font-size: 15px;
  bottom: 3px;
  left: 2px;
  padding: 0px 11px;
}
