badgeCustom.countrySearch {
  :global {
    .MuiFormLabel-root {
      color: #434343;
    }

    .MuiInputBase-root {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.badgeCustom {
  border-radius: 15px;
  background: #4b4b4b;
  min-width: 24px;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  height: 20px;
  font-weight: bold;
  position: relative;
  line-height: 19px;
  font-size: 13px;
  bottom: 1px;
  left: 6px;
  padding: 0px 11px;
  font-family: Arial;
}
