@import "../styles/global/variables.scss";

body {
  .orderedList {
    list-style: none;
    counter-reset: my-awesome-counter;
  }

  .listItem {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
      0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    border-radius: 25px;
    background: $color-white;
    margin-bottom: 10px;
    padding-left: 65px;
    padding-right: 125px;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    align-items: flex-start;

    @media (max-width: $bp-md) {
      padding-right: 100px;
    }

    @media (max-width: $bp-sm) {
      padding-left: 45px;
      padding-right: 70px;
    }

    &::before {
      content: attr(data-index);
      color: #1f2937;
      font-weight: bold;
      position: absolute;
      z-index: 2;
      font-size: 16px;
      top: 11px;
      width: 34px;
      left: 4px;
      text-align: center;
    }

    &::after {
      content: "";
      background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
      border-radius: 50%;
      left: 5px;
      top: 5px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      position: absolute;
    }

    .flag {
      display: inline-block;
      font-size: 24px;
      margin-right: 12px;
    }

    .title {
      display: inline-block;
      line-height: 18px;

      ~ :global(.css-518kzi-MuiListItemSecondaryAction-root) {
        @media (max-width: $bp-md) {
          right: 5px;
        }
      }
    }

    .iconBtn {
      margin-right: 5px;

      @media (max-width: $bp-sm) {
        margin-right: 0;
        padding: 3px;
      }
    }
  }

  .pagesAndCount {
    display: flex;
    justify-content: space-between;
  }
}
