@import "global/variables.scss";

.auth {
  :global(button:first-of-type) {
    border-bottom-right-radius: 0;
    border-right: 2px solid pink;
  }

  :global(button:last-of-type) {
    border-top-left-radius: 0;
  }
}

.actionBtn {
  :global(.MuiButton-icon) {
    @media (max-width: $bp-md) {
      margin-right: -2px;
    }
  }
  .label {
    @media (max-width: $bp-md) {
      display: none;
    }
  }
}
