.countryActionsBar {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  box-shadow: 0px 7px 10px 0px #00000029;

  .cell {
    flex: 1;

    &.center {
      text-align: center;
    }

    &.right {
      display: flex;
      justify-content: flex-end;
    }
  }

  .mapActions {
    display: flex;
    gap: 10px;
  }
}
