@import "./global/variables.scss";

.mapContainer {
  width: 100%;
  height: $map-height;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );

  .map {
    width: 100%;
    height: 100%;
  }

  .selectedCountryName {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 1;
  }

  .mapActions {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

:global(.mapTooltipEmoji) {
  font-size: 22px;
  line-height: 26px;
  display: inline-block;
  margin-right: 2px;
}

:global(.mapTooltipText) {
  font-size: 18px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  top: -3px;
}

.scsMsgEmoji {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  line-height: 1;
  position: relative;
  top: 2px;
}
