.menu {
  .list {
    display: flex;
  }

  .item {
    list-style: none;
  }

  .link {
    padding: 8px 15px;
    border-radius: 8px;
    // background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
    background-color: #33445b;
    margin-left: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid transparent;

    &.active,
    &:hover {
      border-color: #fff;
    }
  }
}
