@import "global/variables.scss";

.appBarComp {
  margin-top: $header-height;
  .appBar {
    background-color: $color-navbar-bg;
    position: fixed;
    top: 0;
    width: 100%;
    color: $color-white;
    z-index: 2;
  }

  .addBtnSpecial {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);

    &:hover {
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
    }
  }

  .navbarLoading {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .link {
    text-decoration: none;
    border-radius: 50%;

    .avatar {
      width: 35px;
      height: 35px;
      font-size: 16px;
      background: $color-pink;
    }

    &.active,
    &:hover {
      .avatar {
        border: 1px solid #fff;
      }
    }
  }

  .appTitle {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    top: -3px;
  }

  .appName {
    font-size: 16px;
  }
  .appSlogan {
    font-size: 11px;
  }
}

.css-8kh2zk-MuiLinearProgress-bar1 {
  background-color: $color-pink2;
}
