@import "./global/variables.scss";

.sidebar {
  .link {
    margin: 0 14px;
    width: calc(100% - 28px);
    border-radius: 20px 0 20px 0;
    text-decoration: none;
    color: $color-white;
    transition: background-color 0.5s ease-out;
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
    border: 2px solid transparent;

    &:hover {
      background-color: #5d5d5d3d;
    }

    &.active {
      border-color: $color-primary-pink;
    }
  }

  .signInBtn {
    margin-top: auto;
    position: relative;
    bottom: 10px;
    width: 90%;
    left: 6%;
  }
}
